
.nav{
    @include position(100%, auto, row, space-between, left, auto, center);
    max-width: 1440px;
    min-height: 70px;

    padding-top: 5px;
    padding-bottom: 10px;
    &__burger{
        padding-left: 58px;
        position: fixed;
        top: 50px;
        cursor: pointer;
        @include position(max-content, 20px, row, left, left, auto, center);
        
        
        &__wraper { 
            position: relative;
            background: rgba(255, 255, 255, 0.8);
            top: -35px;
            left: -45%;
            border: 0;
            cursor: pointer;
            @include position(40px, 40px, row, left, left, auto, center);
            border-radius: 6px;
            outline: none;
            &:focus-visible {
                border: 1px solid #000;
            }
            &:hover {
                background-color: #000;
                .nav__burger__line {
                    background-color: #fff;
                    &::after, &::before {
                        background-color: #fff;
                    }
                }
                .list {
                    display: block;
                }
            }
            }
        &__line {
            background-color: rgba(0, 0, 0, 1);
            position: absolute;
            top: 11px;
            left: 6px;
            @include position(28px, 2px, row, left, left, auto, center);
            &::after {
                content: '';
                background: #111111;
                position: absolute;
                top: 16px;
                @include position(28px, 2px, row, left, left, auto, center);
            }
            &::before {
                content: '';
                background: #111111;
                position: absolute;
                top: 8px;
                @include position(28px, 2px, row, left, left, auto, center);
            }
        }
        
    }
    &__advertisement {
        @include position(50%, auto, row, left, left, auto, center);
        margin-left: 25%;
        padding-top: 10px;
        padding-left: 20px;
        &__link {
            letter-spacing: .5px;
            color: #000000;
            text-decoration: none;
            outline: none;
            &:focus-visible {
                text-decoration: underline;
            }
        }
        &__title { 
            width: max-content;
            @include font ($roboto-font, sans-serif, 16px, 500,normal, uppercase, #000000, 16px, none);
        }
    }
    &__tool {
        &--search {
            &:hover {
                opacity: .5;
            }

        }
    }
    &__tools {
        @include position(30%, auto, row, flex-end, left, 0, center);
        max-width: max-content;
        z-index: 1;
        
        &__link{
            margin: 0;
            margin-right: 27px;
            width: max-content;
            outline: none;
            &:focus-visible {
                border: 1px solid #000;
            }
        }
        &--search {
            margin-right: 40px;
        }
    }
    &__search {
        height: 34px;
        border: 2px solid #000;
        border-radius: 6px;
        outline: none;
        padding-left: 10px;
        @include font ($roboto-font, sans-serif, 16px, 500,normal, none, #000000, 16px, none);
    }
};
.list {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 5px;
    left: 40px;
    width: max-content;
    height: auto;
    border-radius: 6px;
    overflow-y: hidden;
    animation-name: burger-dropdown;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    padding: 20px 10px;
    &__element {
        list-style: square;
        margin-top: 15px;

    }
    &__link {
        padding: 10px;
        @include font ($roboto-font, sans-serif, 16px, 500, normal, uppercase, #000, 20px,  none);
        outline: none;
            &:focus-visible {
                text-decoration: underline;
            }
        &:hover {
            text-decoration: underline;
            
        }
    }
}
.burger_dropdown {
    animation-name: burger-dropdown;
    animation-duration: 600ms;
    animation-timing-function: ease-out;
    
}
.burger_closest {
    animation-name: burger-toup;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}
@media (max-width: 1200px) {
    .nav {
    
    }
}
@media (max-width: 991px) {
    .nav {
        &__advertisement {
            display: none;
        }
        &__tools {
            position: absolute;
            right: 0px;
            z-index: 0;
        }
    }
}


@media (max-width: 576px) { 
    .nav {
        &__search {
                position: relative;
                top: 65px;
                left: 120px;
        }
    }
}

.activate__search {
    animation-name: open-search;
    animation-duration: 600ms;
}

.disactivate__search {
    animation-name: close-search;
    animation-duration: 600ms;
}